{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><html class="no-js" lang="zxx"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{%  static 'web/images/favicon.svg' %}">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/LineIcons.3.0.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">

</head>

<body>

    <!-- Preloader -->

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider" style="background-image: url('{% static "web/images/6201.jpg" %}');">
                                <div class="content">
                                    <h2><span>Precious Honey for you</span>
                                        Best for your health
                                    </h2>
                                    <p>To feed the world a pure and natural organic honey that is extracted from the natural forests of Tanzania mainland.</p>
                                    {% comment %} <h3><span>From:</span> Tsh. 1000.00</h3> <h3><span>To:</span> Tsh. 10000.00</h3> {% endcomment %}
                                    <div class="button">
                                        <a href="whatsapp://send?phone=+255769400959" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                        <div class="single-slider" style="background-image: url('{% static "web/images/6202.jpg" %}');">
                                <div class="content">
                                    <h2><span>Precious Honey</span>
                                        Get good and quality honey.
                                    </h2>
                                    <p>To feed the world a pure and natural organic honey that is extracted from the natural forests of Tanzania mainland.</p>
                                    {% comment %} <h3><span>From:</span> Tsh. 1000.00</h3> <h3><span>To:</span> Tsh. 10000.00</h3> {% endcomment %}
                                    <div class="button">
                                        <a href="whatsapp://send?phone=+255769400959" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner" style="background-image: url('{% static "web/images/650.jpg" %}');">
                                <div class="content">
                                    <h2>
                                        <span>Precious Honey</span>
                                        Best price, best quality
                                    </h2>
                                    <h3>Tsh. 1000/=</h3>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>Save your health</h2>
                                    <p>Saving your health with precious honey is our priority.</p>
                                    <div class="button">
                                        <a class="btn" href="whatsapp://send?phone=+255769400959">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->


    {% comment %} <!-- Start Featured Categories Area -->
    <section class="featured-categories section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Featured Categories</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">TV &amp; Audios</h3>
                        <ul>
                            <li><a href="product-grids.html">Smart Television</a></li>
                            <li><a href="product-grids.html">QLED TV</a></li>
                            <li><a href="product-grids.html">Audios</a></li>
                            <li><a href="product-grids.html">Headphones</a></li>
                            <li><a href="product-grids.html">View All</a></li>
                        </ul>
                        <div class="images">
                            <img src="{% static 'web/images/fetured-item-1.png' %}" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Desktop &amp; Laptop</h3>
                        <ul>
                            <li><a href="product-grids.html">Smart Television</a></li>
                            <li><a href="product-grids.html">QLED TV</a></li>
                            <li><a href="product-grids.html">Audios</a></li>
                            <li><a href="product-grids.html">Headphones</a></li>
                            <li><a href="product-grids.html">View All</a></li>
                        </ul>
                        <div class="images">
                            <img src="{% static 'web/images/fetured-item-2.png' %}" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Cctv Camera</h3>
                        <ul>
                            <li><a href="product-grids.html">Smart Television</a></li>
                            <li><a href="product-grids.html">QLED TV</a></li>
                            <li><a href="product-grids.html">Audios</a></li>
                            <li><a href="product-grids.html">Headphones</a></li>
                            <li><a href="product-grids.html">View All</a></li>
                        </ul>
                        <div class="images">
                            <img src="{% static 'web/images/fetured-item-3.png' %}" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Dslr Camera</h3>
                        <ul>
                            <li><a href="product-grids.html">Smart Television</a></li>
                            <li><a href="product-grids.html">QLED TV</a></li>
                            <li><a href="product-grids.html">Audios</a></li>
                            <li><a href="product-grids.html">Headphones</a></li>
                            <li><a href="product-grids.html">View All</a></li>
                        </ul>
                        <div class="images">
                            <img src="{% static 'web/images/fetured-item-4.png' %}" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Smart Phones</h3>
                        <ul>
                            <li><a href="product-grids.html">Smart Television</a></li>
                            <li><a href="product-grids.html">QLED TV</a></li>
                            <li><a href="product-grids.html">Audios</a></li>
                            <li><a href="product-grids.html">Headphones</a></li>
                            <li><a href="product-grids.html">View All</a></li>
                        </ul>
                        <div class="images">
                            <img src="{% static 'web/images/fetured-item-5.png' %}" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">Game Console</h3>
                        <ul>
                            <li><a href="product-grids.html">Smart Television</a></li>
                            <li><a href="product-grids.html">QLED TV</a></li>
                            <li><a href="product-grids.html">Audios</a></li>
                            <li><a href="product-grids.html">Headphones</a></li>
                            <li><a href="product-grids.html">View All</a></li>
                        </ul>
                        <div class="images">
                            <img src="{% static 'web/images/fetured-item-6.png' %}" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area --> {% endcomment %}

    <!-- Start Trending Product Area -->
    <section class="trending-product section">





        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Precious Honey Product</h2>
                        <p>Check our product for best price and best quality.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="{% static 'web/images/ds.jpg' %}" alt="#">
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">Pure Honey</span>
                            <h4 class="title">
                                <a href="#">100 gram Honey</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>Tsh. 1000.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="{% static 'web/images/200.jpg' %}" alt="#">
                            <span class="sale-tag">-25%</span>
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">Pure Honey</span>
                            <h4 class="title">
                                <a href="#">200 gram Honey</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>5.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>Tsh 2000.00</span>
                                <span class="discount-price">Tsh 2500.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="{% static 'web/images/cs.jpg' %}" alt="#">
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">Pure Honey</span>
                            <h4 class="title">
                                <a href="#">1 kilogram Honey</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>5.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>Tsh 12000.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="{% static 'web/images/7kg.jpg' %}" alt="#">
                            <span class="new-tag">New</span>
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">Pure Honey</span>
                            <h4 class="title">
                                <a href="#">7.5 kilogram Honey</a>
                            </h4>
                            <br><br><br>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>5.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>Tsh 75000.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Banner Area -->
    <section class="banner section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner" style="background-image:url('{% static "web/images/500.jpg" %}')">
                        <div class="content">
                            <h2>Precious Pure Honey</h2>
                            <p>The pure test of Tanzania, <br>Best price for best quality </p>
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn">Order Via Whatsapp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner custom-responsive-margin" style="background-image:url('{% static "web/images/5001.jpg" %}')">
                        <div class="content">
                            <h2>Precious Pure Honey</h2>
                            <p>Treat your health, <br>With our pure honey and enjoy.</p>
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn">Order Via Whatsapp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start Special Offer -->
    <section class="special-offer section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Special Offer For You</h2>
                        <p>Do not miss this offer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-image">
                                    <img src="{% static 'web/images/ds.jpg' %}" alt="#">
                                    <div class="button">
                                        <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <span class="category">Precious Honey</span>
                                    <h4 class="title">
                                        <a href="product-grids.html">100 Gram Honey</a>
                                    </h4>
                                    <ul class="review">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><span>5.0 Review(s)</span></li>
                                    </ul>
                                    <div class="price">
                                        <span>Tsh 1000.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-image">
                                    <img src="{% static 'web/images/200.jpg' %}" alt="#">
                                    <div class="button">
                                        <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <span class="category">Precious Honey</span>
                                    <h4 class="title">
                                        <a href="product-grids.html">200 gram Honey</a>
                                    </h4>
                                    <ul class="review">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><span>5.0 Review(s)</span></li>
                                    </ul>
                                    <div class="price">
                                        <span>Tsh 2000.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-image">
                                    <img src="{% static 'web/images/cs.jpg' %}" alt="#">
                                    <div class="button">
                                        <a href="whatsapp://send?phone=+255769400959" class="btn"><i class="lni lni-cart"></i> Order Via Whatsapp</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <span class="category">Precious Honey</span>
                                    <h4 class="title">
                                        <a href="product-grids.html">1 Kilogram Honey</a>
                                    </h4>
                                    <ul class="review">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star"></i></li>
                                        <li><span>4.0 Review(s)</span></li>
                                    </ul>
                                    <div class="price">
                                        <span>Tsh 12000.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                    </div>
                    <!-- Start Banner -->
                    <div class="single-banner right" style="background-image:url('{% static "web/images/3081.jpg" %}');margin-top: 30px;">
                        <div class="content">
                            <h2>Precious Honey </h2>
                            <p>We provide best pure honey and honey product for you.</p>
                            <div class="price">
                                <span>Best price, best quality</span>
                            </div>
                            <div class="button">
                                <a href="whatsapp://send?phone=+255769400959" class="btn">Order Via Whatsapp</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Banner -->
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="offer-content">
                        <div class="image">
                            <img src="{% static 'web/images/1.jpg' %}" alt="#">
                            <span class="sale-tag">-50%</span>
                        </div><br><br><br><br><br>
                        <div class="text">
                            <h2><a href="product-grids.html">7.5 kg for 100 packages</a></h2>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>5.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>Tsh 75000.00</span>
                                <span class="discount-price">Tsh 77000.00</span>
                            </div>
                            <p>This is the best offer we provide for every one, welcome and enjoy the offer</p> <br>
                        </div>
                        <div class="box-head">
                            <div class="box">
                                <h1 id="days">0-294</h1>
                                <h2 id="daystxt">Days</h2>
                            </div>
                            <div class="box">
                                <h1 id="hours">0-7</h1>
                                <h2 id="hourstxt">Hours</h2>
                            </div>
                            <div class="box">
                                <h1 id="minutes">0-23</h1>
                                <h2 id="minutestxt">Minutes</h2>
                            </div>
                            <div class="box">
                                <h1 id="seconds">0-8</h1>
                                <h2 id="secondstxt">Secondes</h2>
                            </div>
                        </div>

                        {% comment %} <div style="background: rgb(204, 24, 24); display: block;" class="alert">
                            <h1 style="padding: 50px 80px;color: white;">We are sorry, Event ended ! </h1>
                        </div> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Special Offer -->


    {% comment %} <!-- Start Home Product List -->
    <section class="home-product-list section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                    <h4 class="list-title">Best Sellers</h4>
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/01.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">GoPro Hero4 Silver</a>
                            </h3>
                            <span>$287.99</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/02.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Puro Sound Labs BT2200</a>
                            </h3>
                            <span>$95.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/03.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">HP OfficeJet Pro 8710</a>
                            </h3>
                            <span>$120.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                </div>
                <div class="col-lg-4 col-md-4 col-12 custom-responsive-margin">
                    <h4 class="list-title">New Arrivals</h4>
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/04.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">iPhone X 256 GB Space Gray</a>
                            </h3>
                            <span>$1150.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/05.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Canon EOS M50 Mirrorless Camera</a>
                            </h3>
                            <span>$950.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/06.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Microsoft Xbox One S</a>
                            </h3>
                            <span>$298.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <h4 class="list-title">Top Rated</h4>
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/07.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Samsung Gear 360 VR Camera</a>
                            </h3>
                            <span>$68.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/08.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Samsung Galaxy S9+ 64 GB</a>
                            </h3>
                            <span>$840.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                    <!-- Start Single List -->
                    <div class="single-list">
                        <div class="list-image">
                            <a href="product-grids.html"><img src="{% static 'web/images/09.jpg' %}" alt="#"></a>
                        </div>
                        <div class="list-info">
                            <h3>
                                <a href="product-grids.html">Zeus Bluetooth Headphones</a>
                            </h3>
                            <span>$28.00</span>
                        </div>
                    </div>
                    <!-- End Single List -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Product List --> {% endcomment %}

    <!-- Start Brands Area -->
    <div class="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <h2 class="title">Business Partiners</h2>
                </div>
            </div>
            <div class="brands-logo-wrapper">
                <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="brand-logo">
                        <img src="{% static 'web/images/worntech1.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/ayepro.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/worntech1.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/distech.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/ayepro.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/worntech1.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/distech.png' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'web/images/worntech1.png' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brands Area -->











    <!-- Start Blog Section Area -->
    <section class="blog-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Our Services</h2>
                        <p>We provide the following service for you.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)">
                                <img src="{% static 'web/images/beekeeping.jpg' %}" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">Service</a>
                            <h4>
                                <a href="javascript:void(0)">Beekeeping service</a>
                            </h4>
                            <p>dealing with utilizing the nature we have by integrating with modern beekeeping, we train apiary.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)">
                                <img src="{% static 'web/images/setting.jpg' %}" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">Service</a>
                            <h4>
                                <a href="javascript:void(0)">Constructions</a>
                            </h4>
                            <p>We construct from our own facilities under expertise to make quality bee hires; suitable material in a certain area.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)">
                                <img src="{% static 'web/images/apiary.jpg' %}" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">Service</a>
                            <h4>
                                <a href="javascript:void(0)">Apiary setting</a>
                            </h4>
                            <p>We survey areas with our expertise to verify if it is bee friendly.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="javascript:void(0)">
                                <img src="{% static 'web/images/management.jpg' %}" alt="#">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">Management</a>
                            <h4>
                                <a href="javascript:void(0)">Bee hire management</a>
                            </h4>
                            <p>we inspect the colony to determine the challenges and proposing the solutions. Also, we hold up a full management to make sure we get to our target.</p>
                            <div class="button">
                                <a href="javascript:void(0)" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single Blog -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="javascript:void(0)">
                                    <img src="{% static 'web/images/harvesting.jpg' %}" alt="#">
                                </a>
                            </div>
                            <div class="blog-content">
                                <a class="category" href="javascript:void(0)">Harvesting</a>
                                <h4>
                                    <a href="javascript:void(0)">Honey harvesting</a>
                                </h4>
                                <p>We know and recognize some beekeepers fear the buzzing of bees so we our professional team that harvest in regarding the standards and hoy quality assurance. We do most of practical and building our beekeepers understanding in harvesting stuffs.</p>
                                <div class="button">
                                    <a href="javascript:void(0)" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single Blog -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'web/images/honey.jpg' %}" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <a class="category" href="javascript:void(0)">Supply</a>
                                    <h4>
                                        <a href="javascript:void(0)">Honey supply</a>
                                    </h4>
                                    <p>We supply honey in bulk and in our well parked and labelled jars in the local market. Also, we supply honey to nearest countries like Kenya Uganda Malawi and so on. We now focus to fly globally.</p>
                                    <div class="button">
                                        <a href="javascript:void(0)" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog -->
                        </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single Blog -->
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="javascript:void(0)">
                                            <img src="{% static 'web/images/wax.jpg' %}" alt="#">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <a class="category" href="javascript:void(0)">Supply</a>
                                        <h4>
                                            <a href="javascript:void(0)">Bee wax supply</a>
                                        </h4>
                                        <p>We supply the wax in bulk both inside and outside of our country if needed</p>
                                        <div class="button">
                                            <a href="javascript:void(0)" class="btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Blog -->
                            </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section Area -->

    <!-- Start Shipping Info -->
    
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });

    </script>
    <script>
        const finaleDate = new Date("February 15, 2023 00:00:00").getTime();

        const timer = () => {
            const now = new Date().getTime();
            let diff = finaleDate - now;
            if (diff < 0) {
                document.querySelector('.alert').style.display = 'block';
                document.querySelector('.container').style.display = 'none';
            }

            let days = Math.floor(diff / (1000 * 60 * 60 * 24));
            let hours = Math.floor(diff % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
            let minutes = Math.floor(diff % (1000 * 60 * 60) / (1000 * 60));
            let seconds = Math.floor(diff % (1000 * 60) / 1000);

            days <= 99 ? days = `0${days}` : days;
            days <= 9 ? days = `00${days}` : days;
            hours <= 9 ? hours = `0${hours}` : hours;
            minutes <= 9 ? minutes = `0${minutes}` : minutes;
            seconds <= 9 ? seconds = `0${seconds}` : seconds;

            document.querySelector('#days').textContent = days;
            document.querySelector('#hours').textContent = hours;
            document.querySelector('#minutes').textContent = minutes;
            document.querySelector('#seconds').textContent = seconds;

        }
        timer();
        setInterval(timer, 1000);
    </script>


</body></html>

{% endblock %}